#help {
    color: #FFFFFF !important;
    text-align: center;
}

.validate {
    border-radius: 10pt;
    background-color: #f5f5f5;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.validate:hover {
    background-color: #80cbc4;
    color: #fff;
}

i {
    color: #000000;
    vertical-align: middle;
}


.question {
    font-size: 30px;
    margin-bottom: 10px;
    color: #ffffff;
}

.answers {
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #03DAC6;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #38a;
}


.slide {
    position: absolute;
    margin: 10px;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    position: relative;
    height: 200px;
    margin-top: 40px;
}

#results {
    color: #FFFFFF;
}

#score {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
}

.userInput{
    font-size: 25px!important;
}

