* {
    box-sizing: border-box
}

label {
    color: #FFFFFF;
}

#info {
    font-size: 30px;
    font-weight: bold;
    color: var(--accent);
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Float and signup buttons and add an equal width */
.signupbtn {
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

li {
    list-style-type: none;
    border-bottom: none;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Raleway', serif;
}