@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
:root {
    --main-bg-color: #000036;
    --blue-bg-color: #121212;
    --accent: #ffbd32;
    --gray: #e5e9ed;
    --primary-light: #1f286f;
}

body {
    background: var(--blue-bg-color);
    text-align: center;
    margin: 10px auto;
    width: 90%;
    padding: 0 40px;
    font-size: 14px;
    font-family: 'Raleway', serif;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

/*
Divs
*/
div {
    margin: auto;
    width: 90%;
    padding: 10px;
}

/* Playlist Elements */
#mainDiv {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    border: 1px solid #D5DDE4;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0 0;
    width: 100%;
    display: inline-block;
    border: #FFFFFF;
}

li {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    width: 90%;
    padding: 15px 2%;
    margin: 15px;
    text-align: left;
}

li:last-child {
    border-bottom: none;
}

li span {
    float: right;
    color: #777B7E;
}

li.current {
    color: #80cbc4;
    font-weight: bold;
}

.container {
    text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /*!* 16:9 *!*/
    padding-top: 25px;
    height: 0;
}

.video-container video {
    width: 100% !important;
    height: auto !important;
}

/*
=================== BUTTONS =====================
*/
.btnMedia {
    background: none;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    margin: 10px;
}

.btnMedia:hover {
    background-color: #80cbc4;
    color: #fff;
}

/* Main Button scheme */
.button{
    border-width: 0;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: var(--accent);
    font-size: 15pt;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;

    transition: background-color .3s;
}

.button:hover {
    opacity:1;
    background-color: var(--accent);
}

.likeButton {
    margin: 10px;
    background: none;
    cursor: pointer;
    border-width: 0;
}

.likeIcon {
    font-size: 15px;
    color: #FFFFFF;
    user-select: none;
}

#navigationL, #navigationR {
    margin: 10px;
}

#navigationL{
    float: left;
}
#navigationR{
    float: right;
}

.custom-file-upload {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    color: #000000;
    font-weight: bold;
    border-radius: 10pt;
    background-color: #03DAC6;
    display: inline-block;
    margin: 10px;
    padding: 6px 12px;
    cursor: pointer;
}

i {
    text-align: center;
    color: #FFFFFF;
    user-select: none;
    font-size: 24px;
    padding: 10px;
}

.validate {
    border-radius: 10pt;
    background-color: #f5f5f5;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.validate:hover {
    background-color: #80cbc4;
    color: #fff;
}

.validate i{
    color: #FFFFFF;
}

